body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

.amount {
    text-align: right;
}

th, td {
    border: 1px solid #888;
    padding: 10px;
}