body {
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    height: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
    align-content: space-evenly;
}
nav a {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 5px;
    color: black;
}
.active {
    font-weight: bold;
}

main {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#grocery-table {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
}

th {
    text-align: left;
}

.amount {
    text-align: right;
}

th, td {
    border: 1px solid #888;
    padding: 10px;
}

.active {
    font-weight: bold;
}